<!-- Agregamos el layout -->
{% extends '../layouts/layout.html' %}

<!-- Folder static -->
{% load static %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

<!-- Contenido principal -->
{% block content %}   
    <!--Estilos  -->
    <link rel="stylesheet" href="{% static 'css/buscar_comics.css' %}">
    <div id="main-container">
        <!-- Titulo -->
        <div class="titulo">
            <h2>{{ titulo }}</h2>
        </div>
        <!-- Comics -->
        {% if comics %}
            <div id="comics">
                {% for comic in comics %}
                    <div class="comic">
                        <div class="imagen-container">
                            <!-- Añadimos el enlace a la página de detalle -->
                            <a href="{% url 'detalle_comic' comic.id_comic %}">
                                <img src="{{ comic.imagen.url }}" alt="imagen del comic">
                            </a>
                        </div>
                        <!-- Añadimos el enlace también al título -->
                        <p class="nombre">
                            <a href="{% url 'detalle_comic' comic.id_comic %}">{{ comic.nombre|slice:":57" }}{% if comic.nombre|length > 57 %}...{% endif %}</a>
                        </p>
                        <form method="POST" action="{% url 'agregar_a_lista_deseos' comic.id_comic %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Lo quiero</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="not-found">
                <img src="{% static 'images/not-found.svg' %}" alt="No hay cómics" width="520px">
            </div>
        {% endif %}
    </div>
    <div id="data-busqueda" data-busqueda="{{ busqueda }}" style="display: none;"></div>
    <!-- Javascript -->
    <script src="{% static 'js/buscar_comics.js' %}"></script>
{% endblock %}