<!-- Layout -->
{% extends '../layouts/layout.html' %}

<!-- Carpeta static -->
{% load static %}

<!-- Titulo -->
 {% block titulo %}
    {{ titulo }}
 {% endblock %}

{% block content %}
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- lil-gui -->
    <link href="https://cdn.jsdelivr.net/npm/lil-gui@0.20.0/dist/lil-gui.min.css" rel="stylesheet">
    <div id="threejs-container">
        <canvas class="webgl"></canvas>
        <div id="over">
            <p>TODOS LOS COMICS</p>
            <h1>A TU ALCANCE</h1>
            <p>COMIENZA A COMPRAR</p>
            <a href="{% url 'register' %}">Registrarse</a>
        </div>        
    </div>    
    <div id="about-us">
        <div class="carta">
            <div class="image-container">
                <img src="{% static 'images/spiderman.png' %}" alt="">
            </div>
            <p>En nuestra tienda de cómics, creemos en la magia de compartir historias. No solo ofrecemos cómics fascinantes, sino que permitimos a los compradores intercambiar objetos o servicios por ellos, fomentando una comunidad única.</p>
        </div>
        <div class="carta">
            <div class="image-container">
                <img src="{% static 'images/tanjiro.png' %}" alt="">
            </div>
            <p>Nuestra pasión por los cómics nos llevó a reinventar la forma de adquirirlos. Aquí, los trueques cobran vida, permitiendo que cada cómic tenga un valor especial más allá del dinero.</p>
        </div>
        <div class="carta">
            <div class="image-container">
                <img src="{% static 'images/superman.png' %}" alt="">
            </div>
            <p>Promovemos una experiencia creativa y accesible para todos los amantes de los cómics. Intercambia objetos o servicios, conecta con otros fanáticos y descubre historias inolvidables en un entorno acogedor y original.</p>
        </div>
    </div>
    <div id="comics-seccion">
        <h2>Cómics registrados recientemente</h2>
        <div id="comics">
            {% for comic in comics %}
                <div class="comic">
                    <div class="imagen-container">
                        <!-- Añadimos el enlace a la página de detalle -->
                        <a href="{% url 'detalle_comic' comic.id_comic %}">
                            <img src="{{ comic.imagen.url }}" alt="imagen del comic">
                        </a>
                    </div>
                    <p class="nombre"><a href="{% url 'detalle_comic' comic.id_comic %}">{{ comic.nombre|slice:":57" }}{% if comic.nombre|length > 57 %}...{% endif %}</a></p>
                    <!-- Solo los usuarios con rol de comprador pueden agregar a la lista de deseos -->
                    {% if usuario.rol == 2 %}
                        <form method="POST" action="{% url 'agregar_a_lista_deseos' comic.id_comic %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Lo quiero</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Threejs -->
    <script type="importmap">
        {
            "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
            }
        }
    </script>    
    <!-- Javascript -->
    <script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}