{% extends '../layouts/layout.html' %}
{% load static %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

{% block content %}
<!-- Estilos -->
<link rel="stylesheet" href="{% static 'css/lista_deseos.css' %}">
<!-- Contenido principal -->
<div id="main-container">
    <div id="wishlist-container">
        <div class="titulo">
            <i class="fa-solid fa-arrow-left back" onclick="backPage()" style="cursor: pointer;"></i>
            <h4>{{ titulo }}</h4>
            <!-- Lo colocamos para distribuir el titulo -->
            <i class="fa-solid fa-x tache"></i>
        </div>
        {% if lista_deseos %}
            <div id="lista-deseos" class="wishlist">                
                {% for item in lista_deseos %}
                <div id="comic-{{ item.comic.id_comic }}" class="comic">
                    <img src="{{ item.comic.imagen.url }}" alt="Imagen del cómic">
                    <h3>{{ item.comic.nombre }}</h3>
                    <p>{{ item.comic.descripcion|slice:":100" }}...</p>                
                    <button onclick="eliminarComic({{ item.comic.id_comic }})">Eliminar</button>
                </div>
                {% endfor %}            
            </div>            
        {% endif %}
        <div id="not-found" class="{% if lista_deseos %}hidden{% endif %}">
            <p>No tienes cómics en tu lista de deseos.</p>
            <img src="{% static 'images/not-found.svg' %}" alt="No hay cómics" width="520px">
        </div>
    </div>
</div>
<!-- Javascript -->
 <script src="{% static 'js/lista_deseos.js' %}"></script>
{% endblock %}