{% extends '../layouts/layout.html' %}
{% load static %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

{% block content %}
<!-- Estilos -->
<link rel="stylesheet" href="{% static 'css/lista_deseos.css' %}">
<!-- Contenido principal -->
<div id="main-container">
    <div id="wishlist-container">
        <div class="titulo">
            <i class="fa-solid fa-arrow-left back" onclick="backPage()" style="cursor: pointer;"></i>
            <h4>{{ titulo }}</h4>
            <!-- Lo colocamos para distribuir el titulo -->
            <i class="fa-solid fa-x tache"></i>
        </div>
        {% if lista_deseos %}
            <div id="lista-deseos" class="wishlist">                
                {% for item in lista_deseos %}
                <div id="comic-{{ item.comic.id_comic }}" class="comic"  data-comic-id="{{ item.comic.id_comic }}">
                    <img src="{{ item.comic.imagen.url }}" alt="Imagen del cómic">
                    <h3>{{ item.comic.nombre }}</h3>                    
                    <p>{{ item.comic.descripcion|slice:":100" }}...</p>                
                    <div id="botones">
                        <!-- Verificamos si hay una oferta relacionada -->
                        {% if not item.oferta_relacionada %}
                        <form method="POST" action="{% url 'hacer_oferta' item.comic.id_comic %}" class="oferta-form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Hacer oferta</button>
                        </form>
                        {% endif %}
                        <button class="btn-eliminar-comic" onclick="eliminarComic({{ item.comic.id_comic }})">Eliminar</button>                        
                    </div>
                </div>
                {% endfor %} 
            </div>            
        {% endif %}
        <div id="not-found" class="{% if lista_deseos %}hidden{% endif %}">
            <p>No tienes cómics en tu lista de deseos.</p>
            <img src="{% static 'images/not-found.svg' %}" alt="No hay cómics" width="520px">
        </div>
    </div>
</div>
<!-- Incluir la ventana modal -->
{% include 'partials/modal_oferta.html' %}
<!-- Javascript -->
<script src="{% static 'js/modal_oferta.js' %}"></script>
<script src="{% static 'js/lista_deseos.js' %}"></script>
{% endblock %}