<!-- Layout -->
{% extends '../layouts/layout.html' %}
<!-- Static -->
 {% load static %}
<!-- Titulo -->
{% block titulo %}
    {{ titulo }}
{% endblock %}
<!-- Contenido principal -->
{% block content %}
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/mensajes.css' %}">
    <!-- Titulo -->
    <div id="main-container">
        <div id="titulo">
            <h1>{{ titulo }}</h1>
        </div>
        <!-- Paneles -->
        <div id="paneles-contenedor" class="row">
            <!-- Panel de chats -->
            <div id="chats-contenedor" class="col-4">
                {% for chat in chats %}
                    <div id="chat-{{ chat.usuario.id_usuario }}" class="chat" onclick="abrirChat({{ chat.usuario.id_usuario }})">
                        <div class="imagen-contenedor">
                            <img src="{% static 'images/default_user.png' %}" alt="imagen del comprador">
                        </div>
                        <div class="informacion-chat">
                            <p class="nombre-comprador">
                                <span class="bold">
                                    {{ chat.usuario.username|slice:":23" }}{% if chat.usuario.username|length > 23 %}...{% endif %}
                                </span></p>
                            <p class="ultimo-mensaje">
                                {{ chat.ultimo_mensaje.contenido|slice:":23" }}{% if chat.ultimo_mensaje|length > 23 %}...{% endif %}
                            </p>
                        </div>
                        <!-- Tuberias personalizadas -->
                        {% load filters %}
                        <p class="hora-ultimo-mensaje">{{ chat.ultimo_mensaje.fecha_emision|formato_fecha }}</p>
                    </div>                    
                {% endfor %}
            </div>
            <!-- Panel chat abierto -->
            <div id="chat-abierto-contenedor" data-chat-abierto-id="" class="col-8">
                <div id="default-chat-abierto">                    
                    <img src="{% static 'images/mensajes-logo.svg' %}" alt="No hay cómics" width="520px">
                    <!-- Verificamos si tiene chats -->
                    {% if chats %}                        
                        <h2>Selecciona un chat para abrirlo</h2>
                    {% else %}
                        <h2>No tienes chats</h2>
                    {% endif %}
                </div>                
            </div>
        </div>
    </div>
    <!-- Javascript -->
     <script src="{% static 'js/mensajes.js' %}" ></script>
{% endblock %}
