body {
    font-family: "Poppins", sans-serif;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;    
    margin: 0;
}

#content-wrapper {
    min-height: 100vh;
}

/* NAVBAR */
#navegacion {
    background-color: #252525 !important;
}

#navegacion a.navbar-brand {
    color: #ffc510;
}

#navegacion a.navbar-brand img {
    width: 52px;
}

#navegacion a.nav-link {
    color: #FFF !important;
}

/* FOOTER */
#footer {
    padding: 12px 12px;
    margin: 0px;
    background-color: #252525;
    position: relative;
    text-align: center;
}

#footer p {
    padding: 0px;
    margin: 0px;
    color: #FFF;
}

.alert {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}

.alert-dismissible .btn-close {
    background: none;
    border: none;
    font-size: 18px;
}

