/* Elementos del layout */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

#contenedor-general {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 0;
    overflow: hidden;
}

/* Elementos del template */

#main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #FFFFFF;
}

#paneles-contenedor {
    flex: 1;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;    
}

#chats-contenedor {
    height: 100%;
    padding: 6px;
    overflow-y: auto;
}

.chat {
    display: flex;
    padding: 8px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;    
}

.chat:hover {
    background-color: #F2F2F2;
}

.chat p {
    margin: 0;
    padding: 0;
    font-size: small;
}

.chat div.imagen-contenedor {
    width: 40px;
}

.chat div.imagen-contenedor img {
    width: 100%;
    border-radius: 50%;
}

.chat div.informacion-chat {
    width: 100%;
    padding-left: 12px;    
}

.bold {
    font-weight: bold;
}

/* Chat abierto */

#chat-abierto-contenedor {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#encabezado {
    display: flex;
    align-items: center;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

#encabezado p.nombre-comprador {
    margin: 0;
    padding: 0;
    padding-left: 12px;
}

#encabezado div.imagen-contenedor {
    width: 48px;
}

#encabezado div.imagen-contenedor img {
    width: 100%;
    border-radius: 50%;
}

/* Contenedor de mensajes */
#mensajes-contenedor {
    flex: 1;
    overflow-y: auto;
}

.mensaje {
    display: flex;
    align-items: flex-end;
    padding: 8px;
    height: fit-content;
}

.mensaje p.contenido {
    margin: 0;
    padding: 8px 12px;    
    font-size: small;    
    max-width: 70%;
    word-wrap: break-word;
    background-color: #F2F2F2;
}

.mensaje div.imagen-contenedor img {
    width: 24px;
    visibility: hidden;
    border-radius: 50%;
}

.ultimo-mensaje div.imagen-contenedor img{
    visibility: visible;
}

.el-otro p.contenido {
    margin-left: 8px;
    border-radius: 12px 12px 12px 0;
}

.yo {
    justify-content: flex-end;
}

.yo p.contenido {
    margin-right: 8px;
    border-radius: 12px 12px 0px 12px;
}

/* Barra de escritura */
#barra-mensajes {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

#barra-mensajes i {
    color: 	#ffc510;
    font-size: 20px;
}

#barra-mensajes form {
    width: 100%;
    padding: 0px 8px;
}

#barra-mensajes form input{
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #F2F2F2;
}
