/* Elementos del layout */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

#contenedor-general {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 0;
    overflow: hidden;
}

/* Elementos del template */

#main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #FFFFFF;
}

#paneles-contenedor {
    flex: 1;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;    
}

#chats-contenedor {
    height: 100%;
    padding: 6px;
    overflow-y: auto;
}

.chat {
    display: flex;
    padding: 8px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;    
}

.chat:hover {
    background-color: #F2F2F2;
}

.chat p {
    margin: 0;
    padding: 0;
    font-size: small;
}

.chat div.imagen-contenedor {
    width: 40px;
}

.chat div.imagen-contenedor img {
    width: 100%;
    border-radius: 50%;
}

.chat div.informacion-chat {
    width: 100%;
    padding-left: 12px;    
}

.bold {
    font-weight: bold;
}